<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Your Auctions">
    <mat-card *ngFor="let auction of Auctions">
      {{Auctions | json}}
    </mat-card>
  </mat-tab>
  <mat-tab label="Create Auction">
    <mat-card>
      <form [formGroup]="Auction">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="Title" required>
          </mat-form-field>
          <mat-error *ngIf="Auction.controls['Title'].hasError('required')" class="small">
              Title is <strong>required</strong>
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <textarea matInput rows="3" placeholder="Description" formControlName="Auction_description"></textarea>
            </mat-form-field>
            <mat-error *ngIf="Auction.controls['Auction_description'].hasError('required')" class="small">
                Description is <strong>required</strong>
            </mat-error>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <mat-form-field class="full-width" >
                <input type="datetime-local" matInput placeholder="Enter Start Time" formControlName="Start_time">
              </mat-form-field>
              <mat-error *ngIf="Auction.controls['Start_time'].hasError('required')" class="small">
                  Start_time is <strong>required</strong>
              </mat-error>
          </div>
          <div class="col">
              <mat-form-field class="full-width">          
                <input type="datetime-local" matInput placeholder="Enter End Time" formControlName="End_time">
              </mat-form-field>
              <mat-error *ngIf="Auction.controls['End_time'].hasError('required')" class="small">
                  End_time is <strong>required</strong>
              </mat-error>  
          </div>
        </div>
      <div>
        <button mat-button (click)="addAuctions(Auction)">Next</button>{{ Auction.value | json}}
      </div>
    </form>
  </mat-card>
  </mat-tab>
</mat-tab-group>