<mat-card *ngFor="let auction_details of Auctions_With_Me">
    <h2><span style="font-weight:lighter; opacity: 0.5;">#{{auction_details.Auction_Id}} )</span> {{auction_details.Title}}</h2>
    <p>{{auction_details.Auction_description}}</p>
    <p> <b>FROM</b> {{auction_details.Start_time|date:'short'}} <b>- TO</b> {{auction_details.End_time|date:'short'}} </p>
    <p style="text-align:right">-- <b>By</b> {{auction_details.Username}} </p>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="[ '/AuctionView',auction_details.Auction_Id]">View</button>
      <button mat-raised-button color="accent" style="float:right" (click)="leaveAuction(auction_details)">Leave</button>
  </mat-card-actions>
  <mat-divider></mat-divider>
  </mat-card>