<mat-card >
  <mat-card-title-group style="color:#E65100">
    <mat-card-title >WizardLord</mat-card-title>
    <mat-card-subtitle >-05/05/1999</mat-card-subtitle>
    <img mat-card-md-image src="https://randomuser.me/api/portraits/lego/5.jpg">
  </mat-card-title-group>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-card-content>
    <mat-card class="block">
      <mat-card-title>Address</mat-card-title>
    <p>D-447 Mahindra colony,</p>
    <p>near shri-krishna nagar Borivali (E),</p>
    <p>Mumbai,</p>
    <p>Mahastra,</p>
    <p>India</p>
  </mat-card>
  </mat-card-content>

</mat-card>
