<mat-card >
  <mat-card-title-group style="color:#E65100">
    <mat-card-title ><span style="opacity: 0.5;">#{{profile.User_Id}})</span>{{profile.Username}}</mat-card-title>
    <mat-card-subtitle >-Joined {{profile.Created_at|date}}</mat-card-subtitle>
    <img mat-card-md-image src="https://randomuser.me/api/portraits/lego/5.jpg">
  </mat-card-title-group>
  <mat-card-content>
    <mat-card class="block">
        <p><b> Name</b> :{{profile.First_name}} {{profile.Last_name}}</p>
        <p><b>Email</b> {{profile.Email}}</p>
        <p><b>Contact_no</b> {{profile.Contact_no}}</p>
    </mat-card>
    <mat-card class="block">
      <mat-card-title>Address</mat-card-title>
    <p>{{profile.First_line}},</p>
    <p>{{profile.Last_line}},</p>
    <p>{{profile.City}},</p>
    <p>{{profile.State}},</p>
    <p>{{profile.Country}}</p>
  </mat-card>
  </mat-card-content>

</mat-card>
